= render 'collection_controls'

- content_for :top_links do
  = icon_link_to 'add material', new_admin_material_path, 'plusthick'

= ssp_search_form Material

.table_section
  %h3
    Materials
    = icon_link_to 'add material', new_admin_material_path, 'plusthick'
  .table_wrapper
    = render 'admin/materials/table.html.haml', :materials => @materials
  = paginate @materials
