= render 'member_controls'

- content_for :top_links do
  = icon_link_to 'edit', edit_admin_material_path(@material), 'pencil'
  = destroy_model_link @material, true

%h1
  = @material.name
  -#= icon_link_to 'notes', notes_admin_material_path(@material), 'script'
  -#= new_model_link Material, @material

#model_detail
  %h4 Name
  %p= @material.name

  %h4 Thumbnail
  %p= image_tag @material.thumbnail

  %h4 Document
  %p= link_to @material.document_file_name, @material.document.url
