- if @sponsor.primary_contact == current_user
  .right-inner#sponsor_organization
    .row
      .title
        %strong Your Organization
    .list-sponsor
      .title Additional Sponsor Admins
      - @sponsor.users.each do |user|
        - unless current_user == user
          .span{ :id => "user_#{user.id}" }
            %span
              = user.name
              = '(pending)' if user.sign_in_count == 0
            = link_to 'x', '', :class => 'del'
    = form_for User.new, :url => invite_sponsor_users_path, :remote => true do |f|
      .form-action
        = f.submit 'Add another sponsor admin', class: 'blue-btn', :id => 'submit_request'
      .row
        = f.text_field :name, :placeholder => 'Name of Requested Admin'
      .row
        = f.text_field :email, :placeholder => 'Email of Requested admin'
      #loading_image.hidden{style: "width: 100%; text-align:center; margin-top: 10px;"}
        = image_tag 'admin/loader.gif'
      .message.hint
      %ul.errors

  .right-inner#interest_volunteer
    .row
      .title
        %strong Interested in Volunteering?
      %p
        If anyone at your organization is interested in volunteering at CIW, please contact
        %br
        = mail_to ApplicationHelper::CIW_INFO_EMAIL
