.left-column#dashboard_index

  %h1.head-page-tab
    Sponsor Portal
    .desc-page
      Your one-stop-shop for maximizing your sponsorship benefits.

  = render :partial => 'important_dates'
  .row.box-upload-file
    = render :partial => 'share_sponsor'
    = render :partial => 'sponsor/shared/newsletter_form'
  = render :partial => 'ciw_contacts'

.right-column
  = render :partial => 'organization_form'

= render :partial => 'personal_info_modal'
