.left-column#dashboard_index

  %h1.head-page-tab
    Welcome back!
    .desc-page
      There's a lot happening this year at Chicago Ideas Week. Here are some things to do.

  = render :partial => 'important_dates'
  = render :partial => 'share_sponsor'
  = render :partial => 'ciw_contacts'

.right-column
  = render :partial => 'organization_form'

= render :partial => 'personal_info_modal'
