.left-column
  %h1.head-page-tab
    %small SPONSOR DASHBOARD
    Welcome back!

  = render :partial => 'important_dates'
  = render :partial => 'share_sponsor'
  = render :partial => 'ciw_contacts'

.right-column
  = render :partial => 'organization_form'

= render :partial => 'personal_info_modal'
