.activation_modal_hidden
  #activation_modal
    .inner
      .activation_titles
        %p.activation_title
          Activation
        %p.upload_logo_title
          Upload Logo
      = form_for sponsor_user, :url => sponsor_sponsor_user_path(sponsor_user), :html => { :multipart => true }, :remote => true do |f|
        .row.box-upload-file
          .lock-title Before you can activate, WE NEED YOUR LOGO in 2 formats
          .row
            %ul.span
              %li#sponsor_eps_logo_input.file.input.optional
                %small.numb-step 1
                %label.label{ :for => 'sponsor_eps_logo' } EPS logo*
                .span
                  = f.file_field :eps_logo
                  .uploaded_file
                    = sponsor_user.eps_logo_file_name
                %p.inline-hints Please provide an EPS version of your logo.
              %li#sponsor_logo_input.file.input.optional
                %small.numb-step 2
                %label.label{ :for => 'sponsor_logo' } JPG logo*
                .span
                  = f.file_field :logo, :size => 24, :style => 'opacity: 0;'
                  .uploaded_file
                    = sponsor_user.logo_file_name
                %p.inline-hints Please provide a JPG version of your logo.
            %ul.upload_errors
        .row#submit_activation
          = f.submit 'Activate Account', :class => 'form-submit', :id => 'submit_logos'
