.row.key_date_container{ :id => "key_date_#{key_id}" }
  .key_date
    %p.month
      = key_date[:month]
    %p.day{ :class => ('small_day' if key_id == 3 || key_id == 7) }
      = key_date[:day]
  .key_info
    %p.key_title
      = key_date[:title]
    %p.key_description
      = key_date[:description]
