
- content_for :top_links do
  = edit_model_link @bhsi_application, true
  = destroy_model_link @bhsi_application, true
  = link_to "pdf", admin_bhsi_application_path(@bhsi_application, :format => :pdf)
%h1

  = icon_link_to 'notes', notes_admin_bhsi_application_path(@bhsi_application), 'script'
  = new_model_link Note, @bhsi_application

#model_detail

  %h1 Part 1: About You
  %h4 First Name
  %p= @bhsi_application.first_name

  %h4 Last Name
  %p= @bhsi_application.last_name

  %h4 Phone Number
  %p= @bhsi_application.phone_number

  %h4 Street Address
  %p= @bhsi_application.address1

  %h4 Address Line 2
  %p= @bhsi_application.address2

  %h4 City
  %p= @bhsi_application.city

  %h4 State/Province
  %p= @bhsi_application.state

  %h4 Zip/Postal Code
  %p= @bhsi_application.zipcode

  %h4 Country
  %p= @bhsi_application.country

  %h4 Email
  %p= @bhsi_application.email

  %h4 Gender
  %p= @bhsi_application.gender

  %h4 Birthdate
  %p= @bhsi_application.birthdate

  %h4 Have you applied to the Bluhm/Helfand Social Innovation Fellowship before?
  %p= @bhsi_application.applied_before

  %h4 Tell us your story. What inspired you to start your organization? (A strong response should include how and why you began your venture as well as your own personal background, including any previous leadership recognition or awards.) (Limit 100-200 words)
  %p= @bhsi_application.bhsi_longtext.about_yourself

  %hr

  %h1  Part 2: About Your Venture

  %h4 Social Venture Name
  %p= @bhsi_application.social_venture_name

  %h4 Your Title
  %p= @bhsi_application.title

  %h4 Year the organization was founded
  %p= @bhsi_application.bhsi_longtext.venture_launched

  %h4 Legal Structure (501c3, LLC, Fiscally Sponsored, etc.)
  %p= @bhsi_application.legal_structure

  %h4 URL
  %p= @bhsi_application.url

  %h4 Twitter Handle
  %p= @bhsi_application.twitter_handle

  %h4 YouTube or Video URL
  %p= @bhsi_application.video_url

  %h4 Please provide a clear and concise description of your social venture. (Limit 50 words)
  %p= @bhsi_application.bhsi_longtext.social_venture_description

  %h4 What is your venture's level of organizational development (e.g., growth stage, number of team members, etc.)?
  %p= @bhsi_application.bhsi_longtext.organizational_development

  %h4 If you are a 501c3, are you fiscally sustainable? If yes, please explain your model and provide data that proves it is working. (Limit 400 words)
  %p= @bhsi_application.sustainability_model

  %h4 Describe you main programs and their impact. (Limit 300 words)
  %p= @bhsi_application.inspiration

  %h4 What is your long-term vision for the organization, and how will you know if you have achieved success? (Limit 100-200 words)
  %p= @bhsi_application.improvements

  %hr

  %h1 Part 3: Innovation

  %h4 What specifically makes your venture innovative? (Limit 100 words)
  %p= @bhsi_application.makes_social_innovation

  %h4 How do you distinguish yourself in your specific sector? What are you doing that no one else is doing? (A strong response should include a discussion of at least two other ventures working in this space and how you are specifically different from them.) (Limit 400 words)
  %p= @bhsi_application.distinguish_yourself

  %hr

  %h1 Part 4: Impact &amp; Assessment

  %h4 How many people did you directly affect this year
  %p= @bhsi_application.bhsi_longtext.number_people_affected

  %h4 Explain this number in a few sentences
  %p= @bhsi_application.bhsi_longtext.explain_number

  %h4 Please provide three statistics that eximplify your success
  %p= @bhsi_application.bhsi_longtext.three_standout_statistics

  %hr

  %h1 Optional Questions

  %h4 Do you have a strong connection to the Midwest? If so, please explain. (Please note you do not need to have a Midwest connection in order to be eligible.) (50-100 words)
  %p= @bhsi_application.bhsi_longtext.strong_midwest_connections_explained

  %h4 Additional Comments
  %p= @bhsi_application.bhsi_longtext.additional_comments

  %hr

  %h1 Budget, Press Clippings &amp; References

  %h4 Please submit your 2012 Budget, including expenses and revenues as well as your projected budget for 2013.
  %p= @bhsi_application.previous_budget.present? ? @bhsi_application.previous_budget : ''

  %h4 #1 Reference Name
  %p= @bhsi_application.reference_1_name

  %h4 #1 Reference Relationship to you
  %p= @bhsi_application.reference_1_relationship

  %h4 #1 Reference Phone Number
  %p= @bhsi_application.reference_1_phone

  %h4 #1 Reference Email
  %p= @bhsi_application.reference_1_email

  %h4 #Reference 2 Name
  %p= @bhsi_application.reference_2_name

  %h4 #Reference 2 Relationship to you
  %p= @bhsi_application.reference_2_relationship

  %h4 #Reference 2 Phone Number
  %p= @bhsi_application.reference_2_phone

  %h4 #Reference 2 Email
  %p= @bhsi_application.reference_2_email

  %h4 Press Clipping #1
  - if @bhsi_application.press_clipping_1.present?
    = link_to @bhsi_application.press_clipping_1_file_name, @bhsi_application.press_clipping_1.url

  %h4 Press Clipping #2
  - if @bhsi_application.press_clipping_2.present?
    = link_to @bhsi_application.press_clipping_2_file_name, @bhsi_application.press_clipping_2.url

  %h4 Press Clipping #3
  - if @bhsi_application.press_clipping_3.present?
    = link_to @bhsi_application.press_clipping_3_file_name, @bhsi_application.press_clipping_3.url
