!!! 5
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    :css
      body {
        width: 744px;
        font-family: "arial";
        color: #666;
        font-size: 14px;
      }

      .header{
        width: 744px;
        height: 200px;
      }
      .header hr {
        color: #297CB9;
        background-color: #297CB9;
        height: 2px;
        margin: 0;
       }
      .header .ciw_header {
        width: 372px;
        float: left;
      }
      .header .ciw_header p {
        float: left;
        margin-top: 45px;
        margin-left: 35px;
        line-height: 20px;
      }
      .with_border {
        margin-left: 0px;
        padding-left: 65px;
        border-left: 1px silver solid;
      }
      .header .ciw_header .img_container {
        float: left;
        margin-left: 55px;
        margin-top: 25px;
      }

      .clear { clear: both; }

      .order_details {
        background-color: #297CB9;
        width: calc(100%-15px);
        line-height: 40px;
        color: white;
        padding-left: 15px;
        font-size: 16px;
      }

      .details_container {
        margin-top: 30px;
        margin-left: 20px;
        width: 270px;
        float: left;
      }

      .details_container h1 {
        font-weight: normal;
        color: #297CB9;

      }
      .details_container .payment {
        line-height: 35px;
        font-size: 1.1em;
      }

      .details_container h3 {
        display: inline;
      }

      .address_container {
        margin-top: 30px;
        margin-left: 20px;
        float: right;
        width: 350px;
        padding-top: 10px;
      }

      h1.indented { margin-left: 20px; }

      table {
        width: 100%;
        margin-bottom: 40px;
      }

      th.invoice {
        background-color: #DFDFDF;
        line-height: 40px;
        padding-left: 15px;
        text-align: left;
      }
      th.product {
        width: 450px;
      }

      th .price_range {
        color: #297CB9;
      }

      td.invoice {
        background-color: #ECECEC;
        line-height: 30px;
        padding-left: 15px;
        text-align: left;
      }

      th.address {
        background-color: #ECECEC;
        line-height: 2.5em;
        font-size: 1.5em;
        padding-left: 18px;
        text-align: left;
      }

      td.address {
        padding: 5px 15px;
        line-height: 32px;
        font-size: 16px;
      }

      td.tax_disclaimer {
        background-color: #ECECEC;
        font-size: 12px;
        padding: 20px;
      }

      td.total_label {
        background-color: #DFDFDF;
        line-height: 25px;
        padding-left: 15px;
      }

      td.total_paid {
        background-color: #297CB9;
        line-height: 40px;
        padding-left: 15px;
        color: white
      }

      .footer {
        background-color: #297CB9;
        width: 100%;
        line-height: 40px;
        color: white;
        text-align: center;
      }

      .footer_info {
        text-align: center;
      }

      .pdf_end {
        color: #297CB9;
        background-color: #297CB9;
        height: 2px;
        margin: 0;
      }


  %body
    .header
      %hr
      .ciw_header
        .img_container
          = image_tag('http://chicagoideas.com/assets/email/ciw_logo.png')
        %p
          %b Chicago Ideas Week
          %br/
          600 West Chicago
          %br/
          Suite 700
          %br/
          Chicago, IL 60654

      .ciw_header
        %p.with_border
          %b For Questions Contact:
          %br/
          %b Becky Ahasic
          %br/
          Membership & Ticketing Manager
          %br/
          = mail_to ApplicationHelper::CIW_MEMBERSHIP_EMAIL

    .clear
    .order_details Order Details

    .details_container
      %h1
        = @order.name_on_card

      .payment
        %h3 Order:
        \##{@order.code}

        %br/
        %h3 Date:
        = @order.created_at.to_date.strftime("%B %d, %Y")

        %br/
        %h3= @order.an_card_type
        = @order.an_account_number

        %br/
        %h3 Transaction Type:
        Purchase

    .address_container
      %table
        %tbody
          %tr
            %th.address Billing Information

          %tr
            %td.address.invoice
              = @order.name_on_card
              %br/
              = @order.billing_address.street_1
              - if @order.billing_address.street_2.present?
                %br/
                = @order.billing_address.street_2
              %br/
              #{ @order.billing_address.city }, #{ @order.billing_address.state } #{ @order.billing_address.zip }


    .clear
    %h1.indented Transaction

    %table
      %tbody
        %tr
          %th.invoice.product
            Product
          %th.invoice
            Price
        %tr
          %td.invoice
            = @order.member_type.title
          %td.invoice
            = number_to_currency(@order.total_in_cents/100)
        %tr
          %td.total_label
            %b Total Amount Paid
          %td.total_paid
            = number_to_currency(@order.total_in_cents/100)

    %table
      %tbody
        %tr
          %th.invoice
            = @order.member_type.title
            Member
            %span.price_range
              - price_str = number_to_currency(@order.member_type.min_price, :precision => 0)
              - price_str += " - #{ number_to_currency(@order.member_type.max_price, :precision => 0) }" unless @order.member_type.has_fixed_price?
              = price_str

        %tr
          %td.tax_disclaimer
            - if @order.member_type.title == 'Ignition'
              For tax purposes you received no goods or services in exchange for your contribution.
            - else
              The IRS requires us to inform you that the amount of your contribution that is
              deductible for federal income tax purposes is limited to the excess of the
              amount of any money (and the value of any property other than money) contributed
              by you over the value of the goods and services provided by The Innovation
              Foundation (d/b/a Chicago Ideas Week). We estimate the value of your
              = @order.member_type.title
              membership to be
              = @order.member_type.estimated_value

    .clear
    .footer
      www.chicagoideas.com
    %p.footer_info
      The Innovation Foundation (d/b/a Chicago Ideas Week) is a 501c3 organization.
    %hr.pdf_end
