!!! 5
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    = stylesheet_link_tag 'invoice'

  %body
    .header
      %hr
      .ciw_header
        .img_container
          = image_tag('http://chicagoideas.com/assets/email/ciw_logo.png')
        %p
          %b Chicago Ideas Week
          %br/
          600 West Chicago
          %br/
          Suite 700
          %br/
          Chicago, IL 60654

      .ciw_header
        %p.with_border
          %b For Questions Contact:
          %br/
          %b Becky Asahic
          %br/
          Membership & Ticketing Manager
          %br/
          memberships@chicagoideas.com

    .clear
    .order_details Order Details

    .details_container
      %h1
        = @order.name_on_card

      .payment
        %h3 Order:
        \##{@order.code}

        %br/
        %h3 Date:
        = @order.created_at.to_date.strftime("%B %d, %Y")

        %br/
        %h3= @order.authnet_response.fields[:card_type]
        = @order.authnet_response.fields[:account_number]

        %br/
        %h3 Transaction Type:
        Purchase

    %h1.indented Transaction

    %table
      %tbody
        %tr
          %th.invoice
            Reference
          %th.invoice.product
            Product
          %th.invoice
            Price
        %tr
          %td.invoice
            \---
          %td.invoice
            = @order.member_type.title
          %td.invoice
            = number_to_currency(@order.total_in_cents/100)
        %tr
          %td.total_label{ colspan: 2 }
            %b Total Amount Paid
          %td.total_paid
            = number_to_currency(@order.total_in_cents/100)

    %h1.indented Billing Information

    %table
      %tbody
        %tr
          %th.invoice
            Address
        %tr
          %td.invoice
            = @order.name_on_card
            %br/
            = @order.billing_address.street_1
            - if @order.billing_address.street_2.present?
              %br/
              = @order.billing_address.street_2
            %br/
            #{ @order.billing_address.city }, #{ @order.billing_address.state } #{ @order.billing_address.zip }

    %table
      %tbody
        %tr
          %th.invoice
            = @order.member_type.title
            Member
            %span.price_range
              = member_type_price(@order.member_type)
        %tr
          %td
            - if @order.member_type.title == 'Ignition'
              For tax purposes you received no goods or services in exchange for your contribution.
            - else
              The IRS requires us to inform you that the amount of your contribution that is
              deductible for federal income tax purposes is limited to the excess of the
              amount of any money (and the value of any property other than money) contributed
              by you over the value of the goods and services provided by The Innovation
              Foundation (d/b/a Chicago Ideas Week). We estimate the value of your
              = @order.member_type.title
              membership to be
              = @order.member_type.estimated_value

    .clear
    .footer
      www.chicagoideas.com
    %p
      The Innovation Foundation (d/b/a Chicago Ideas Week) is a 501c3 organization.
    %hr.pdf_end
