%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Become a Member", membership_path
        %li
          %span Confirm your purchase

%section.container#main_content
  #page_header
    #page.title_left
      %h1 Membership purchase

  %p.secure_transaction
    = image_tag 'application/orders/lock.png'
    This is a secure transaction
    = image_tag 'application/orders/veri_sign_logo.png', :id => 'veri_sign_logo'
  #membership_purchase.box.double.left
    #membership_form_section.column_row
      = semantic_form_for(@order, url: '/payment', method: :post, :remote => true) do |f|
        .form_section
          %span.form_section_header Contribution Amount
          %hr.form_section_separator
          .form_errors
            %ul
              - @order.errors[:base].each do |error|
                %li.form_error
                  = error
              - if @order.errors[:expiry_date_month].any?
                %li.form_error
                  Expiry month
                  = @order.errors[:expiry_date_month].join(", ")
              - if @order.errors[:cvc].any?
                %li.form_error
                  CVC
                  = @order.errors[:cvc].join(", ")
              - if @order.errors[:expiry_date_year].any?
                %li.form_error
                  Expiry year
                  = @order.errors[:expiry_date_year].join(", ")


          = f.inputs :class => "v_lists c_list" do
            = f.input :amount, opts_for_amount(@order)

        .form_section
          %span.form_section_header Billing Information
          %hr.form_section_separator
          = f.inputs :class => "v_lists c_list" do
            = f.input :member_type_id,  :as => :hidden, :value => @order.member_type.id
            = f.input :name_on_card,    :as => :string, :required => true, :placeholder => 'Doe Jane'
            - opts = { :as => :string, :required => true }
            - opts.merge!({ :input_html => { :value => "370000000000002" } }) unless Rails.env.production?
            = f.input :card_number, opts
            = f.inputs :class => 'form_expdate_cvc' do
              %li
                = f.label :expiry_date_month, :style => "margin-top: 0px" do
                  Expires on
                  %abbr{ :title => "required" }*
                %span.expiry_date
                  = f.select :expiry_date_month, Order::EXPIRY_DATE_MONTH_ARY, :prompt => 'Month'
                  \/
                  = f.select :expiry_date_year, Order::EXPIRY_DATE_YEAR_ARY, :prompt => 'Year'
              %li
                = f.label :cvc do
                  CVC
                  %abbr{ :title => "required" }*
                = f.text_field :cvc
                = image_tag 'application/orders/credit_cards.png', :class => "form_state_cards"
            %ol
              = f.semantic_fields_for :billing_address do |billing_address|
                = billing_address.input :street_1, :as => :string, :required => true
                = billing_address.input :street_2, :as => :string
                = billing_address.input :city,     :as => :string, :required => true
                = billing_address.input :state,    :as => :select, :required => true, :collection => Carmen::states[0..-12], :input_html => { style: "width: 214px; margin-top: 8px;" }
                = billing_address.input :country,  :as => :hidden, :value => 'US'
                = billing_address.input :zip,      :as => :string, :required => true, :label => "Zip Code"
                = billing_address.input :phone,    :as => :string, :required => true, :label => "Phone Number"

          .form_section#personal
            %span.form_section_header Personal Information
            %hr.form_section_separator
            %fieldset.v_lists.c_lists
              %ol
                = f.semantic_fields_for :user do |u|
                  = u.input :email, :as => :string, :required => true

                = f.semantic_fields_for @member do |m|
                  = m.input :first_name,   :as => :string, :required => true
                  = m.input :last_name,    :as => :string, :required => true
                  = m.input :company_name, :as => :string

                = f.semantic_fields_for @address do |ad|
                  = ad.input :street_1, :as => :string, :required => true
                  = ad.input :street_2, :as => :string
                  = ad.input :city,     :as => :string, :required => true
                  = ad.input :state,    :as => :select, :required => true, :collection => Carmen::states[0..-12], :input_html => { style: "width: 214px; margin-top: 8px;" }
                  = ad.input :country,  :as => :hidden, :value => 'US'
                  = ad.input :zip,      :as => :string, :required => true, :label => "Zip Code"
                  = ad.input :phone,    :as => :string, :required => true, :label => "Phone Number"



        = f.actions do
          = f.submit :value => "Confirm Purchase", :class => "btn submit", :id => "confirm_purchase", :data => { :disable_with => "Please Wait..." }

    #membership_summary_section.colum_row
      %p.summary_header
        Summary &amp; Support
      = render 'member_type_summary', :member_type => @order.member_type
      = render 'need_help'
      = render 'share_ciw'
      = render 'volunteering'

= render :partial => 'shared/thank_you_modal',
         :locals  => { :message    => 'Thank you for signing up to our Membership Program! You will be receiving a confirmation email and a receipt sent to the email you supplied momentarily.',
                       :submessage => 'Inspire others by sharing Chicago Ideas Week',
                       :shares     => { :url   => membership_url,
                                        :title => 'I just bought a CIW membership.' } }
= render :partial => 'shared/demographic_info_modal'
