= f.inputs do
  = f.input :title
  = f.input :description, label: "Benefits", hint: "Each line is displayed bulleted"
  = f.input :min_price, hint: "For a fixed price, enter equal minimum and maximum price", label: "Minimum Price"
  = f.input :max_price, label: "Maximum Price"
  = f.input :projected_members
  = f.input :maximum_members, :hint => "Enter 0 for unlimited maximum members"
  = f.input :value
  = f.input :image, :as => :file