%tr{:member_type => member_type.id}
  %td.title= link_to member_type.title, admin_member_type_path(member_type)
  %td.specific_benefits= h(simple_format(member_type.specific_benefits))
  %td.general_benefits= h(simple_format(member_type.general_benefits))
  %td.prices
    %p
      Min: #{ number_to_currency(member_type.min_price, precision: 2) }
    %p
      Max: #{ number_to_currency(member_type.max_price, precision: 2) }
  %td.limits
    %p
      Projected: #{ member_type.projected_members }
    %p
      Maximum: #{ member_type.maximum_members_string }
  %td.value= member_type.value
  %td.options
    = edit_model_link member_type
    = destroy_model_link member_type

