!!! 5

%html
  %head
    %title
    :css
        //  Chicago Ideas Week
        //  Standard HTML5 Reset
        //  Last updated on 01/12/2012
        html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
        article,aside,figure,footer,header,hgroup,nav,section{display:block}
        img,object,embed{max-width:100%}
        html{overflow-y:scroll}
        ul{list-style:none;margin:0;padding:0;}
        blockquote,q{quotes:none}
        blockquote:before,blockquote:after,q:before,q:after{content:none}
        a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
        del{text-decoration:line-through}
        abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}
        table{border-collapse:collapse;border-spacing:0;font-size:inherit;font:100%}
        th{font-weight:700;vertical-align:bottom}
        td{font-weight:400;vertical-align:top}
        hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
        input,select{vertical-align:middle}
        pre{white-space:pre-line;word-wrap:break-word}
        input[type=checkbox]{vertical-align:baseline}
        select,input,textarea{font:99% sans-serif}
        a:hover,a:active{outline:none}
        small{font-size:85%}
        strong,th{font-weight:700}
        td,td img{vertical-align:top}
        sub,sup{font-size:75%;line-height:0;position:relative}
        sup{top:-.5em}
        sub{bottom:-.25em}
        pre,code,kbd,samp{font-family:monospace, sans-serif}
        .clickable,label,input[type=button],input[type=submit],button{cursor:pointer}
        button,input,select,textarea{margin:0}
        button{width:auto;overflow:visible}
        .ie7 img{-ms-interpolation-mode:bicubic}
        .ie6 html{filter:expression(document.execCommand("BackgroundImageCache",false,true))}
        .clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden}
        .clearfix:after{clear:both}
        .clearfix{zoom:1}
        input[type=radio],.ie6 input{vertical-align:text-bottom}

        @page {
          margin: 40px;
        }
        body.pdf_admin {
          background-color: #fff;
          font-family: Arial;
          font-size: 14px;
          color: #333;
          width: 750px;
        }

        #content_container {
          width: 750px;
        }
        #content {
          background-color: #fff;
        }

        h1 {
          font-size: 23px;
          display: block;
          margin-bottom: 20px;
        }

        .section {
          display: block;
          margin-bottom: 30px;
          padding-bottom: 20px;
          border-bottom: 1px solid #ccc;
        }
        .row {
          display: block;
          width: 100%;
          margin: 0 0 20px 0;
        }

        .column, .column_double {
          display: inline;
          float: left;
          width: 200px;
          font-size: 14px;
          color: #555;
          margin: 0 10px 0 0 !important;
        }

        .column_double {
          width: 365px;
          font-size: 14px;
        }
        .row:before, .row:after {
          display: table;
          content: "";
          zoom: 1;
        }
        .row:after {
          clear: both;
        }

        .section:last-child {
          border: none;
          margin: none;
        }


        strong {
          margin: 0 0 5px 0 !important;
          padding: 0 !important;
          font-weight: bold;
          color: #222;
        }

        p {
          display: block;
          color: #555;
          font-size: 14px !important;
          line-height: 19px !important;
        }

        .no_margin {
          margin: 0 0 2px 0 !important;
          padding: 0 !important;
        }


  %body.pdf_admin

    #content_container
      #content
        #model_detail
          .section
            %h1 BHSI Application
            %h2 Part 1: About You

            .row.no_margin
              .column
                %strong First Name
              .column_double= @bhsi_application.first_name
            .row.no_margin
              .column
                %strong Last Name
              .column_double= @bhsi_application.last_name
            .row.no_margin
              .column
                %strong Phone Number
              .column_double= @bhsi_application.phone_number
            .row.no_margin
              .column
                %strong Street Address
              .column_double= @bhsi_application.address1
            .row.no_margin
              .column
                %strong Address Line 2
              .column_double= @bhsi_application.address2
            .row.no_margin
              .column
                %strong City
              .column_double= @bhsi_application.city
            .row.no_margin
              .column
                %strong State/Province
              .column_double= @bhsi_application.state
            .row.no_margin
              .column
                %strong Zip/Postal Code
              .column_double= @bhsi_application.zipcode
            .row.no_margin
              .column
                %strong Country
              .column_double= @bhsi_application.country
            .row.no_margin
              .column
                %strong Email
              .column_double= @bhsi_application.email
            .row.no_margin
              .column
                %strong Gender
              .column_double= @bhsi_application.gender
            .row
              .column
                %strong Birthdate
              .column_double= @bhsi_application.birthdate
            .row
              .column_double
                %strong Have you applied to the Bluhm/Helfand Social Innovation Fellowship before?
              .column_double
                %p= @bhsi_application.applied_before
            .row
              %strong Tell us a little bit about yourself. Make sure to include any previous leadership recognition or awards (100-200 words):
              %p= @bhsi_application.bhsi_longtext.about_yourself

          .section
            %h2 Part 2: About Your Venture

            .row.no_margin
              .column
                %strong Social Venture Name
              .column_double= @bhsi_application.social_venture_name
            .row.no_margin
              .column
                %strong Your Title
              .column_double= @bhsi_application.title
            .row.no_margin
              .column_double
                %strong Year your venture was launched
              .column_double= @bhsi_application.bhsi_longtext.venture_launched
            .row.no_margin
              .column_double
                %strong Are you the founder of your venture?
              .column_double= @bhsi_application.org_founder
            .row.no_margin
              .column_double
                %strong If no, at what point did you join?
              .column_double= @bhsi_application.org_join_point
            .row.no_margin
              .column_double
                %strong Total 2013 Budget in USD
              .column_double= @bhsi_application.total_budget_current_year
            .row.no_margin
              .column_double
                %strong Legal Structure (501c3, LLC, L3C, B Corp, Fiscally Sponsored, etc.)
              .column_double
                %p= @bhsi_application.legal_structure
            .row.no_margin
              .column
                %strong URL
              .column_double
                %a{ href: @bhsi_application.url}= @bhsi_application.url
            .row.no_margin
              .column
                %strong Twitter Handle
              .column_double
                %a{ href: "http://www.twitter.com/#{@bhsi_application.twitter_handle}"}= @bhsi_application.twitter_handle
            .row.no_margin
              .column
                %strong YouTube or Video URL
              .column_double
                %a{ href: "#{@bhsi_application.video_url}" }= @bhsi_application.video_url
            .row
              %strong Please provide a clear and concise description of your social venture. (Limit 50 words)
              %p= @bhsi_application.bhsi_longtext.social_venture_description
            .row
              %strong What is your venture's level of organizational development? (e.g., growth stage, number of team members, etc.)
              %p= @bhsi_application.bhsi_longtext.organizational_development
            .row
              %strong What are your major sources of funding or income, and who are your largest funders? (Limit 100 words)
              %p= @bhsi_application.major_sources_income
            .row
              %strong If you are a not-for-profit, are you fiscally sustainable? If yes, please explain your model and provide data that proves it is working. (Limit 400 words)
              %p= @bhsi_application.sustainability_model
            .row
              %strong Describe you main programs and their impact. (Limit 300 words)
              %p= @bhsi_application.inspiration
            .row
              %strong What is your long-term vision for the organization, and how will you know if you have achieved success? (Limit 200 words)
              %p= @bhsi_application.improvements

          .section
            %h2 Part 3: Innovation

            .row
              %strong What specifically makes your venture innovative? (Limit 100 words)
              %p= @bhsi_application.makes_social_innovation
            .row
              %strong How do you distinguish yourself in your specific sector? What are you doing that no one else is doing? (A strong response should include a discussion of at least two other ventures working in this space and how you are specifically different from them.) (Limit 400 words):
              %p= @bhsi_application.distinguish_yourself

          .section
            %h2 Part 4: Impact &amp; Assessment

            .row.no_margin
              .column_double
                %strong How many people did you directly affect this year
              .column_double= @bhsi_application.bhsi_longtext.number_people_affected
            .row
              %strong Explain this number in a few sentences
              %p= @bhsi_application.bhsi_longtext.explain_number
            .row
              %strong Please provide three statistics that eximplify your success
              %p= @bhsi_application.bhsi_longtext.three_standout_statistics
            .row
              %strong What metrics do you use to track your impact? How has your impact grown over time? (A strong response will use data that show's your impact in discussing your approach.) (Limit 300 words)
              %p= @bhsi_application.impact
            .row
              %strong What are your venture's greatest obstacles and needs? What would you want to get out of your participation in this fellowship (A strong response should include specific skills-based or strategic needs the organization has that the Fellowship may be able to address, partners you are hoping to secure, communities you are hoping to be introduced to, specific expertise you are seeking, etc.) (Limit 400 words)
              %p= @bhsi_application.obstacles_needs

          .section
            %h2 Optional Questions

            .row
              %strong Do you have a strong connection to the Midwest? If so, please explain. (Please note you do not need to have a Midwest connection in order to be eligible.) (Limit 100 words)
              %p= @bhsi_application.bhsi_longtext.strong_midwest_connections_explained
            .row
              %strong Additional Comments
              %p= @bhsi_application.bhsi_longtext.additional_comments

          .section
            %h2 Budget, Press Clippings &amp; References

            .row.no_margin
              .column_double
                %strong #Reference 1 Name
              .column_double= @bhsi_application.reference_1_name
            .row.no_margin
              .column_double
                %strong #Reference 1 Relationship to you
              .column_double= @bhsi_application.reference_1_relationship
            .row.no_margin
              .column_double
                %strong #Reference 1 Phone Number
              .column_double= @bhsi_application.reference_1_phone
            .row.no_margin
              .column_double
                %strong #Reference 1 Email
              .column_double= @bhsi_application.reference_1_email
            .row.no_margin
              .column_double
                %strong #Reference 2 Name
              .column_double= @bhsi_application.reference_2_name
            .row.no_margin
              .column_double
                %strong #Reference 2 Relationship to you
              .column_double= @bhsi_application.reference_2_relationship
            .row.no_margin
              .column_double
                %strong #Reference 2 Phone Number
              .column_double= @bhsi_application.reference_2_phone
            .row.no_margin
              .column_double
                %strong #Reference 2 Email
              .column_double= @bhsi_application.reference_2_email
