-#     Chicago Ideas Week
-#     bhsi_applications/new.html.haml
-#     02/17/2012

-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Bluhm/Helfand Social Innovation Fellowship", blum_helfand_path
        %li
          %span New Application
    = render "partials/explore_dropdown"


-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 Bluhm/Helfand Social Innovation Fellowship Application Form
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left

    .column_row#blum_helfand_application_form

      = semantic_form_for(@bhsi_application) do |f|
        =f.fields_for :bhsi_longtext do |bl|
          .form_section
            %center
              = image_tag('application/bluhm_helfand_logo.jpg', :class => "clearfix", :width => "200px")

            %p
              Please save a copy of your application responses for your records. For questions or any technical difficulties, please email
              = link_to "info@bluhmhelfand.com.", "mailto:info@bluhmhelfand.com"

            %span.form_section_header Part 1: About You
            = f.inputs :class => "c_list v_lists" do
              = f.input  :first_name,      :as => :string, :required => true, :label => "First Name"
              = f.input  :last_name,       :as => :string, :required => true, :label => "Last Name"
              = f.input  :phone_number,    :as => :string, :required => true, :label => "Phone Number", :hint => "xxx-xxx-xxxx"
              = f.input  :address1,        :as => :string, :required => true, :label => "Street Address"
              = f.input  :address2,        :as => :string,                    :label => "Address Line 2"
              = f.input  :city,            :as => :string, :required => true, :label => "City"
              = f.input  :state,           :as => :string, :required => true, :label => "State/Province"
              = f.input  :zipcode,         :as => :string, :required => true, :label => "Zip/Postal Code"
              = f.input  :country,                         :required => true, :label => "Country"
              = f.input  :email,           :as => :email,  :required => true, :label => "Email"
              = f.input  :gender,          :as => :select, :required => true, :label => "Gender", :collection => ["Male", "Female"]
              = f.input  :birthdate,       :as => :string, :required => true, :label => "Birthdate (you must have been born on or after 10/13/1978)", :hint => "mm/dd/yyyy"
              = f.input  :applied_before,  :as => :select, :required => true, :label => "Have you applied to the Bluhm/Helfand Social Innovation Fellowship before?", :collection => ["Yes", "No"]
              = bl.input :about_yourself,                  :required => true, :label => "Tell us your story. What inspired you to start your organization? (A strong response should include how and why you began your venture as well as your own personal background, including any previous leadership recognition or awards.) (Limit 100-200 words):"
              = word_count_container('about_yourself_count')

          .form_section
            %span.form_section_header Part 2: About Your Venture
            = f.inputs :class => "c_list v_lists" do
              = f.input  :social_venture_name,        :as => :string, :required => true, :label => "Social Venture Name"
              = f.input  :title,                      :as => :string, :required => true, :label => "Your Title"
              = bl.input :venture_launched,           :as => :string, :required => true, :label => "Year your venture was founded:"
              = f.input  :org_founder,                :as => :radio,  :required => true, :label => "Are you the founder of your venture?:", :collection => [[" Yes", 1], [" No", 0]]
              = f.input  :org_join_point,             :as => :string, :required => true, :label => "If no, at what point did you join?", :hint => "(If you answered Yes above, write NA in this box)"
              = f.input  :total_budget_current_year,  :as => :string, :required => true, :label => "Total 2013 Budget in USD"
              = f.input  :legal_structure,            :as => :string, :required => true, :label => "Legal Structure (501c3, LLC, L3C, B Corp, Fiscally Sponsored, etc.)"
              = f.input  :url,                        :as => :string, :required => true, :label => "URL",                  :hint => "ex. http://www.domain.com..."
              = f.input  :twitter_handle,             :as => :string, :required => true, :label => "Twitter Handle",       :hint => "ex. chicagoideas (no @ required)"
              = f.input  :video_url,                  :as => :string, :required => true, :label => "YouTube or Video URL", :hint => "ex. http://www.youtube.com/..."
              = bl.input :social_venture_description,                 :required => true, :label => "Please provide a clear and concise description of your social venture. (Limit 50 words):"
              = word_count_container('social_venture_description_count')
              = bl.input :organizational_development,                 :required => true, :label => "What is your venture's level of organizational development? (e.g., growth stage, number of team members, etc.):"
              = f.input  :major_sources_income,                       :required => true, :label => "What are your major sources of funding or income, and who are your largest funders? (Limit 100 words):"
              = word_count_container('major_sources_income_count')
              = f.input  :sustainability_model,                       :required => true, :label => " If you are a not-for-profit, are you fiscally sustainable? If yes, please explain your model and provide data that proves it is working. Otherwise, write 'N/A'. (Limit 400 words):"
              = word_count_container('sustainability_model_count')
              = f.input  :inspiration,                                :required => true, :label => "Describe you main programs and their impact. (Limit 300 words):"
              = word_count_container('inspiration_count')
              = f.input  :improvements,                               :required => true, :label => "What is your long-term vision for the organization, and how will you know if you have achieved success? (Limit 100-200 words):"
              = word_count_container('improvements_count')

          .form_section
            %span.form_section_header Part 3: Innovation
            = f.inputs :class => "c_list v_lists" do
              = f.input :makes_social_innovation, :required => true, :label => "What specifically makes your venture innovative? (Limit 100 words):"
              = word_count_container('makes_social_innovation_count')
              = f.input :distinguish_yourself,                       :label => "How do you distinguish yourself in your specific sector? What are you doing that no one else is doing? (A strong response should include a discussion of at least two other ventures working in this space and how you are specifically different from them.) (Limit 400 words):"
              = word_count_container('distinguish_yourself_count')

          .form_section
            %span.form_section_header Part 4: Impact &amp; Assessment
            = f.inputs :class => "c_list v_lists" do
              = bl.input :number_people_affected,    :as => :string, :required => true, :label => "How many people did you directly affect this year:"
              = bl.input :explain_number,                            :required => true, :label => "Explain this number in a few sentences:"
              = bl.input :three_standout_statistics,                 :required => true, :label => "Please provide three statistics that eximplify your success:"
              = f.input  :impact,                                    :required => true, :label => "What metrics do you use to track your impact? How has your impact grown over time? (A strong response will use data that show's your impact in discussing your approach.) (Limit 300 words):"
              = word_count_container('impact_count')
              = f.input  :obstacles_needs,                           :required => true, :label => "What are your venture's greatest obstacles and needs? What would you want to get out of your participation in this fellowship (A strong response should include specific skills-based or strategic needs the organization has that the Fellowship may be able to address, partners you are hoping to secure, communities you are hoping to be introduced to, specific expertise you are seeking, etc.) (Limit 400 words):"
              = word_count_container('obstacles_needs_count')

          .form_section
            %span.form_section_header Optional Questions
            = f.inputs :class => "c_list v_lists" do
              = bl.input :strong_midwest_connections_explained, :label => "Do you have a strong connection to the Midwest? If so, please explain. (Please note you do not need to have a Midwest connection in order to be eligible.) (Limit 50-100 words):"
              = word_count_container('strong_midwest_count')
              = bl.input :additional_comments,                  :label => "Additional Comments:"

          .form_section
            %span.form_section_header Budget, Press Clippings &amp; References
            %span Please submit your 2012 Budget, including expenses and revenues as well as your projected budget for 2013.
            = f.inputs :class => "c_list v_lists" do
              = f.input :previous_budget,          :as => :file,   :required => true, :label => "2012 Budget", :hint => "Must be a PDF and less than #{BhsiApplication::MAX_PDF_FILE_SIZE}MB"
              = f.input :current_budget,           :as => :file,   :required => true, :label => "2013 Budget", :hint => "Must be a PDF and less than #{BhsiApplication::MAX_PDF_FILE_SIZE}MB"
              = f.input :reference_1_name,         :as => :string, :required => true, :label => "#1 Reference Name"
              = f.input :reference_1_relationship, :as => :string, :required => true, :label => "#1 Reference Relationship to you"
              = f.input :reference_1_phone,        :as => :string, :required => true, :label => "#1 Reference Phone Number"
              = f.input :reference_1_email,        :as => :string, :required => true, :label => "#1 Reference Email"
              = f.input :reference_2_name,         :as => :string, :required => true, :label => "#2 Reference Name"
              = f.input :reference_2_relationship, :as => :string, :required => true, :label => "#2 Reference Relationship to you"
              = f.input :reference_2_phone,        :as => :string, :required => true, :label => "#2 Reference Phone"
              = f.input :reference_2_email,        :as => :string, :required => true, :label => "#2 Reference Email"
              = f.input :press_clipping_1,         :as => :file,                      :label => "Press Clipping #1", :hint => "Must be a PDF and less than #{BhsiApplication::MAX_PDF_FILE_SIZE}MB"
              = f.input :press_clipping_2,         :as => :file,                      :label => "Press Clipping #2", :hint => "Must be a PDF and less than #{BhsiApplication::MAX_PDF_FILE_SIZE}MB"
              = f.input :press_clipping_3,         :as => :file,                      :label => "Press Clipping #3", :hint => "Must be a PDF and less than #{BhsiApplication::MAX_PDF_FILE_SIZE}MB"
              = f.input :venture_standard_deck,    :as => :file,   :required => true, :label => "Please upload your venture's standard marketing deck or one page overview.", :hint => "Must be a PDF and less than #{BhsiApplication::MAX_PDF_FILE_SIZE}MB"

          .form_section
            %span.form_section_header Agreement
            = f.inputs :class => "c_list v_lists" do
              = f.input :agreement_accepeted, :required => true, :label => "By checking this box, I verify that all my responses outlined in this application are truthful and have been answered to the best of my ability."

          = f.buttons do
            = f.submit :value => "Submit Application", :class => "btn submit", :id => "submit_application", :data => { "disable-with" => "Processing..."}

          %p
            If you have any technical difficulties with this application please email
            = mail_to ApplicationHelper::INFO_BLUHMHELF_EMAIL

  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
