%div{ :id => "member_type_#{member_type.id}", :class => 'member_detailed' }
  .detailed_header.group
    = image_tag member_type.image.url
    .detailed_title_projected
      = link_to 'BUY NOW', payment_path(:member_id => member_type.id), :class => 'blue_btn'
      %p.detailed_title
        = member_type.name
        %br
        Price:
        = number_to_currency member_type.price
      %p.detailed_projected
        (projected members=#{ member_type.projected_members }, maximum=#{ member_type.maximum_members_string })
  %p.detailed_content
    = member_type.description
  %p.detailed_total
    Value =
    = number_to_currency member_type.price
