%div{ :id => "member_type_#{member_type.id}", :class => 'member_detailed' }
  .detailed_header.group
    = image_tag member_type.image.url
    .detailed_title_projected
      = link_to 'BUY NOW', payment_path(:member_id => member_type.id), :class => 'blue_btn'
      %p.detailed_title
        = member_type.title
        %br
        Price:
        = member_type_price(member_type)
      %p.detailed_projected
        (projected members=#{ member_type.projected_members }, maximum=#{ member_type.maximum_members_string })
  = simple_format member_type.description, :class => 'detailed_content'
  %p.detailed_total
    Value =
    = member_type.value
