%div{ :id => "member_summary_#{member_type.id}", :class => 'member_summary group', :data => { :id => member_type.id } }
  .member_info
    = image_tag(member_type.image.url, width: 40, heigth: 40)
    .member_name_price
      %p
        = truncate(member_type.title, :length => 29)
  .member_more_info
    = link_to 'More Info', '#', :class => 'gray_btn'
  .member_buy
    = link_to 'Buy Now', payment_path(:member_id => member_type.id), :class => 'blue_btn'
