%div{ :id => "member_summary_#{member_type.id}", :class => 'member_summary group', :data => { :id => member_type.id } }
  .member_info
    %p
      = truncate(member_type.title, :length => 29)
      Member
      %br
      Price:
      = member_type_price(member_type)
  .member_buttons
    = link_to 'More Info', '#', :class => 'gray_btn'
    = link_to 'Buy Now', payment_path(:member_id => member_type.id), :class => 'blue_btn'
