%div{ :id => "member_type_#{member_type.id}", :class => 'member_detailed' }
  .detailed_header.group
    = link_to 'BUY NOW', payment_path(:member_id => member_type.id), :class => 'blue_btn'
    %p.detailed_title
      = member_type.title
      Member

  .detailed_content
    - if member_type.specific_benefits
      %ul
        - member_type.specific_benefits.split("\r\n").reject { |i| i.empty? }.each do |line|
          %li= h line
    - if member_type.general_benefits
      %p
        %strong General Benefits:
      %ul
        - member_type.general_benefits.split("\r\n").reject { |i| i.empty? }.each do |line|
          %li= h line
