-#     Chicago Ideas Week
-#     members/index.html.haml
-#     08/27/2012


-# Breadcrumbs and Explore button
%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li
          %span #{ params[:year_id] } CIW Members




-# Main content
%section.container#main_content

  #page_header
    #page_title.left
      %h1 #{params[:year_id]} Members
    = render "partials/share"

  -# Left column, main content
  .box.double.left
    - case params[:year_id]
    - when "2013"
      = render partial: "all_2013_members", locals: { members: @members,
                                         collaborator: @collaborator,
                                         producer: @producer,
                                         menlo: @menlo,
                                         edison: @edison}

    / - else
    /   .column_row.divided_row
    /     .column.column_double
    /       %p
    /         %i Check back soon for a list of the #{params[:year_id]} Members



  -# Include Sidebar Items
  #sidebar
    = render "partials/sponsors"
    = render "partials/social"
    = render "partials/newsletter_form"
